# Flask Framework Packages
click
Flask
itsdangerous
Jinja2
MarkupSafe
Werkzeug
argon2-cffi

# Flask Functionality Packages
Flask-Login
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
Flask-WTF
Flask-Admin
WTForms
Jinja2
psycopg2-binary
Flask-Migrate