<!-- ================================================================================== -->
<!-- This is the frontend for the Login page, which extends base1.html. This page allows
     the user to log in to their account.                                               -->
<!-- ================================================================================== -->

{% extends "base1.html" %}

{% block title %}Login{% endblock %}

{% block body_class %}login-page{% endblock %}

{% block content %}

    <div class="center-side">
        <div class="container light">

            <!-- Display logo and heading. -->
            <h2>Login</h2>

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} mt-3 alert-dismissible" role="alert">
                    {{ message }}. Go to <a href="{{ url_for('accounts.login') }}">login page</a>.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" onclick="delete_flash(this)">
                        <span>&times;</span>
                    </button>
                </div>
            {% endfor %}
            {% endwith %}

            <!-- Login form. -->
            <form action="{{ url_for('accounts.login') }}" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="input-field", placeholder="Email") }}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="input-field", placeholder="Password") }}
                </div>
                <div class="form-group">
                    {{ form.recaptcha}}
                </div>

                <button type="submit" class="btn">Login</button>
            </form>

            <!-- Alternate log in methods. -->
            <div class="or-sign-up">
                <p>Or log in using:</p>
                <div class="social-buttons">
                    <div class="social-btn apple"><img src="{{ url_for('static', filename='images/apple.png') }}" alt="Apple"></div>
                    <div class="social-btn google"><img src="{{ url_for('static', filename='images/google.png') }}" alt="Google"></div>
                    <div class="social-btn twitter"><img src="{{ url_for('static', filename='images/x.png') }}" alt="X"></div>
                </div>
            </div>

            <!-- Redirect to Register page. -->
            <p class="hyperlink">Don't have an account? <a href="{{ url_for('accounts.registration') }}"><u>Register Now!</u></a></p>

        </div>
    </div>

{% endblock %}